@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import slick-carousel styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* globals.css */

html {
  @apply bg-white text-black;
}

html.dark {
  @apply bg-gray-900 text-gray-100; /* Background and text for dark mode */
}

body {
  @apply bg-background text-foreground;
}

/* Button styling */
button.primary {
  @apply w-full p-2 text-white bg-primary rounded-2xl;
}

.dark button.primary {
  @apply bg-primary-dark text-gray-100;
}

/* Card styling */
.card {
  @apply bg-white text-black;
}

.dark .card {
  @apply bg-gray-800 text-gray-100;
}

/* Dark mode styles */
html.dark {
  @apply bg-gray-900 text-gray-100;
}

body.dark {
  @apply bg-gray-900 text-gray-100;
}

/* Slick Carousel dark styles */
.dark .slick-prev:before, 
.dark .slick-next:before {
  color: #D1D5DB; /* Light gray color for carousel arrows */
}

/* Custom components with Tailwind */
@layer components {
  /* Button styling for dark mode */
  button.primary {
    @apply w-full p-2 text-white bg-primary rounded-2xl;
  }

  .dark button.primary {
    @apply bg-primary-dark text-gray-100;
  }

  /* Additional styles for the slider, if needed */
  .slick-slide {
    margin: 0 10px; /* Space between items */
  }

  .slick-prev,
  .slick-next {
    z-index: 1; /* Keep arrows on top */
  }
}
